.img-carousel {
  display: flex;
  gap: 5px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.img-carousel__button {
  background-color: black;
  color: snow;
  font-size: 2rem;
  flex: 0;
}
.img-carousel__img-container{
  width: 40%;
  display: flex;
  justify-content: center;
}
.img-carousel__img {
  max-width: 90%;

}
.img-carousel__img--hidden {
  visibility: hidden;
  display: none;
}

.img-carousel__img--visible {
  visibility: visible;
}


